@import './variables.scss';

.formItem {
  display: block;
  font-weight: bold;

  &:not(:first-child) {
    margin-top: 15px;
  }

  .formLabel {
    margin-right: 10px;
  }

  .previewImage {
    display: block;
    max-width: 300px;
    max-height: 300px;
    margin: 10px 0;
  }

  .registerErrorMessage {
    color: red;
    margin: 10px 0 0px;
  }

  .registerButton {
    background: white;
    border: black solid 1px;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    color: black;

    &:hover,
    &:disabled {
      opacity: 0.8;
    }
    &:disabled {
      cursor: no-drop;
    }
  }

  .successMessage {
    margin-top: 60px;
    color: blue;
  }
}
